ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-color {
  background-color: #46A693;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}