.question {
  text-align: center;
  color: white;
  font-weight: bolder;
  width: 90%;
  margin: 0 auto;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.choice {
  margin: 10px auto;
  display: inline-block;
  width: 95%;
  text-align: center;
  border: 2px solid;
  background-color: rgba(0, 40, 0, 0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  font-weight: 500;
  font-size: 1.75em;
  color: white;
  font-weight: bolder;
}

.choice:hover {
  background-color: rgba(0, 40, 0, 0.75);
  border: 3px solid white;
  font-weight: bold;
}

.gameOver {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 25px;
}

.playAgain {
  font-size: 1.75em;
  font-weight: bolder;
  word-break: break-all;
  width: 250px;
  height: 100px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  align-self: center;
  margin: 0 auto;
}

.playAgain:hover {
  border: 3px solid white;
  color: white;
}

.green-border-quiz {
  border: 2px solid green;
}

.red-border-quiz {
  border: 2px solid red;
}

.quiz_container {
  padding: 50px 2%;
  margin: 20px auto;
  background-color: white;
  min-height: 800px;
  width: 70%;
  border-radius: 50px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../img/virus.jpg');
  background-size: cover;
  overflow: auto;
  flex-wrap: wrap;
}

.feedback-response {
  font-size: 2em;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  margin: 50px auto;
  width: 90%;
  text-align: justify;
}

.init-quiz {
  font-size: 2em;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .quiz_container {
    width: 90%;
  }

  .feedback-response {
    font-size: 1.25em;
  }

  .init-quiz {
    font-size: 2em;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    margin: 50px auto;
    width: 90%;
    text-align: justify;
  }
}

@media only screen and (min-width: 700px) {
  .quiz-container {
    padding: 50px 2%;
    margin: 20px auto;
    background-color: white;
    height: 800px;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url(/static/media/virus.bd37e201.jpg);
    background-size: cover;
    overflow: auto;
    flex-wrap: wrap;
  }
}