.latest_news_wrapper {
  text-align: center;
  margin: 0 auto;
}

.map_title p {
  background-color: #46A693;
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 6vh;
}

.row_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2em;
}

.lastest_news_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px;
  height: auto;
}

.lastest_news_header h1 {
  color: #46A693;
  font-size: 2.5rem;
}

.map_wrapper {
  margin-right: 50px;
  width: 75%;
  position: relative;
  margin-left: 2em;
}

.map {
  width: 90%;
}

@media only screen and (max-width: 767px) {
  .row_wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
  }

  .lastest_news_header {
    padding: 45px;
  }

  .map_title {
    padding: 0 0.8em;
  }

  .map_title p {
    font-size: 1.3em;
  }

  .map_wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 102vh;
    align-items: center;
  }

  .row {
    margin: 0 auto;
  }
  .feed-container {
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
  }
 }
