.Side-Bar {
  display: flex;
  align-items: center;
  top: 100px;
  position: -webkit-sticky;
  position: sticky;
  height: 60vh;
  font-family: "Roboto", sans-serif;
  color: #46A693;
  width: 20%;
  padding-top: 80px;
  padding-left: 10px;
};

.Side-Bar nav ul {
  list-style-type: none;
  margin: 0 auto;
}

.Side-Bar-list {
  list-style-type: none;
  margin-bottom: 12px;
}

.Side-Bar-list a {
  color: #767676;
  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
}

.Side-Bar-list a:hover {
  color: #46A693;
  text-decoration: none;
}

.Blog-Post a {
  color: #767676;
  text-decoration: none;
}

.Blog-Post a:hover {
  color: #46A693;
  text-decoration: none;
}


@media only screen and (max-width: 701px) {
  .Side-Bar {
    display: none;
  }
}
