.Side-Bar {
  display: flex;
  align-items: center;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  height: 50vh;
  font-family: "Roboto", sans-serif;
  color: #46A693;
  width: 200px;
  padding-top: 60px;
  margin-right: 4vw;
};

.Side-Bar nav ul {
  list-style-type: none;
  margin: 0 auto;
}

.Side-Bar-list {
  list-style-type: none;
  margin-bottom: 12px;
  padding-left: 10px;
}

.Side-Bar-list:hover {
  border-left:2px solid #46A693;
  list-style-type: none;
  margin-bottom: 12px;
}

.Side-Bar-list a {
  color: #767676;
  font-weight: 700;
  text-decoration: none;
}


.Side-Bar-list a:hover {
  color: #46A693;
  text-decoration: none;
}

@media only screen and (max-width: 701px) {
  .Side-Bar {
    display: none;
  }
}
